<div class="generalContainer">
    <div class="optionsContainer">
        <div class="starshipsContainer categoryContainer" (click)="selectComponent('starships')" routerLink="/Starships" routerLinkActive="active">
            <img src="../../../assets/images/starships.jpeg" alt="starships" class="categoryImage">
            <h3 class="categoryName">starships</h3>
        </div>
        <div class="charactersContainer categoryContainer" (click)="selectComponent('characters')" routerLink="/characters" routerLinkActive="active">
            <img src="../../../assets/images/characters.jpeg" alt="Characters" class="categoryImage">
            <h3 class="categoryName">characters</h3>
        </div>
    </div>
</div>

