<div class="generalContainer">
    <div class="optionsContainer">
        <div class="starshipsContainer categoryContainer" (click)="selectComponent('starships-list')" routerLink="/starships-list" routerLinkActive="active">
            <img src="../../../assets/images/starships.webp" alt="starships-list" class="categoryImage">
            <h3 class="categoryName">starships</h3>
        </div>
        <div class="charactersContainer categoryContainer" (click)="selectComponent('characters-list')" routerLink="/characters-list" routerLinkActive="active">
            <img src="../../../assets/images/characters.png" alt="Characters-list" class="categoryImage">
            <h3 class="categoryName">characters</h3>
        </div>
    </div>
</div>

