<div class="header">
    <div class="col-sm-4 pageInfo">

    </div>
    <div class="col-sm-4 logoContainer" (click)="reloadPage()">
        <img class="logoStarWars" src="../../../assets/star-wars-logo.png" alt="logo Star Wars">
    </div>
    <div class="col-sm-4 userOptions">
        <div class="userLoginOptions">
            <div class="LogIn userLogins" (click)="navigateToLogin()">log in</div>
            <div class="separator userLogins">//</div>
            <div class="signUp userLogins">sign up</div>
        </div>
    </div>
</div>