
 .logInContainer
    display: flex
    justify-content: center

    .PCard
        width: 400px

        .field
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            align-items: center
            margin-bottom: 20px

        .button
            display: flex
            justify-content: center
            margin-bottom: 10px

        .register
            display: flex
            justify-content: center
