<div class="menu">
    <div class="menuOptionsContainer">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link home menuOption" (click)="selectComponent('')"
                    routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link starships menuOption" (click)="selectComponent('starships-list')"
                    routerLink="/starships-list" routerLinkActive="active">Starships</a>
            </li>
            <li class="nav-item">
                <a class="nav-link characters menuOption" (click)="selectComponent('characters-list')"
                    routerLink="/characters-list" routerLinkActive="active">Characters</a>
            </li>
        </ul>
    </div>
</div>
