/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css"
@import "primeng/resources/primeng.css"

@font-face
    font-family: 'starWarsFont'
    src: url('./assets/fonts/Starjedi.ttf') format('truetype')

@font-face
    font-family: 'anakinmono'
    src: url('./assets/fonts/anakinmono.ttf') format('truetype')

body
    background-image: url('./assets/images/background.webp')
    background-size: auto // Para que la imagen cubra todo el fondo
    background-repeat: repeat // Para evitar que la imagen se repita
