starship-list works!

<ul class="starshipsContainer">
    <li *ngFor="let starShip of starShips" class="starshipsContainer">
        <div class="starshipContainer">
            <div class="starship">
                <div class="starshipContent">
                    <div class="starshipNameContainer">
                        <p class="starshipName">{{ starShip.name }}</p>
                    </div>
                    <div class="starshipModelContainer">
                        <p class="starshipModel">{{ starShip.model }}</p>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>