
.starshipsContainer
    display: flex
    flex-direction: column
    justify-content: center
    padding: 0px
    //background-color: black
    margin-top: 0px

    .basicInfoContainer
        display: flex
        flex-wrap: wrap
        align-items: center
        width: 100%

    .starshipContainer
        display: flex
        justify-content: center

        .starship
            border: 2px solid grey
            border-radius: 5px
            width: 80%
            margin: 5px

            .starshipContent

                .starshipNameContainer
                    display: flex
                    justify-content: center

                    .starshipName
                        font-size: 1rem
                        margin: 10px
                        font-family: 'starWarsFont', sans-serif
                        color: #c9c9c9

                .starshipModelContainer
                    display: flex
                    justify-content: center

                    .starshipModel
                        font-size: 0.8rem
                        margin: 10px
                        margin-top: 7px
                        font-family: 'anakinmono', sans-serif
                        color: #c0c0c0

            .starshipInfo
                padding: 10px
                display: flex
                flex-wrap: wrap

                .starshipImageContainer
                    display: flex
                    justify-content: center
                    width: max(50%, 250px)
                    

                    .starshipPicture
                        width: 90%
                        border-radius: 5px

                .starshipDataContainer
                    width: max(50%, 250px)

                    .starshipDetails
                        width: 90%
                        color: white

    .extraInfoContainer
        display: flex
        flex-direction: column
        justify-content: center
        width: 100%

        .dividerLine
           //border-top: 1px dashed #464646
            margin-top: 10px

        .starshipDetails
            color: white

        .extraInfoTitle
            display: flex
            justify-content: center
            margin-top: 10px

            .infoTitle
                font-family: 'starWarsFont', sans-serif
                font-size: 0.8rem

        .InfoContainer
            display: flex
            flex-wrap: wrap
            justify-content: center

            .extraInfoCard
                display: flex
                flex-wrap: wrap
                justify-content: center
                border: 2px solid grey
                border-radius: 5px
                width: 200px
                height: 280px
                margin: 5px

                .extraInfoImage
                    width: 100%
                    border-radius: 5px
