<ul class="starshipsContainer">
    <li *ngFor="let starShip of starShips; let i = index" class="starshipContainer">
        <div class="starship" (click)="selectStarship(i)" (click)="loadStarshipComponent(starShip)">

            <div class="starshipContent">
                <div class="starshipNameContainer">
                    <p class="starshipName">{{ starShip.name }}</p>
                </div>
                <div class="starshipModelContainer">
                    <p class="starshipModel">{{ starShip.model }}</p>
                </div>
            </div>
            <div class="starshipInfo" *ngIf="selectedStarshipIndex === i">
                <div class="basicInfoContainer">
                    <div class="starshipImageContainer">
                        <img class="starshipPicture" src="{{ imageUrl }}" alt="{{ starShip.name }}"
                            (error)="handleImageError()">
                    </div>
                    <div class="starshipDataContainer">
                        <p class="starshipDetails">Manufacturer: {{ starShip.manufacturer }}</p>
                        <p class="starshipDetails">Cargo Capacity: {{ starShip.cargo_capacity }}</p>
                        <p class="starshipDetails">Crew: {{ starShip.crew }}</p>
                        <p class="starshipDetails">Consumables: {{ starShip.consumables }}</p>
                        <p class="starshipDetails">Cargo Capacity: {{ starShip.cargo_capacity }}</p>
                    </div>
                </div>
                <div class="extraInfoContainer">
                    <div *ngIf="starShip.pilots.length > 0" class="dividerLine">
                        <div class="extraInfoTitle">
                            <p class="starshipDetails pilotTitle infoTitle">Pilots</p>
                        </div>
                        <div class="InfoContainer">
                            <div *ngFor="let pilot of starShip.pilots">
                                <div class="extraInfoCard">
                                    <div class="extraInfoInfo starshipDetails">{{extractPilotNumber(pilot)}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="starShip.films.length > 0" class="dividerLine">
                        <div class="extraInfoTitle">
                            <p class="starshipDetails filmsTitle infoTitle">Films</p>
                        </div>
                        <div class="InfoContainer">
                            <div *ngFor="let film of starShip.films">
                                <div class="extraInfoCard">
                                    <div class="extraInfoInfo starshipDetails">{{film}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>