<div class="header">
    <div class="col-sm-4 pageInfo">

    </div>
    <div class="col-sm-4 logoContainer">
        <!-- Utiliza routerLink para navegar a la página principal -->
        <a routerLink="/" >
            <img src="../../../assets/star-wars-logo.png" alt="logo Star Wars" class="logoStarWars">
        </a>
    </div>
    <div class="col-sm-4 userOptions">
        <div *ngIf="!isLoggedIn" class="userLoginOptions">
            <div class="LogIn userLogins" (click)="navigateToLogin()">log in</div>
            <div class="separator userLogins">//</div>
            <div class="signUp userLogins"(click)="navigateToSignUp()">sign up {{ isLoggedIn }}</div>
            
        </div>
        <div *ngIf="isLoggedIn" class="welcomeMessage">

            <div class="userLogins">Welcome!</div>
          
            <div class="LogOut userLogins" (click)="logout()">log out</div>
        </div>
    </div>
</div>