<div class="header">
    <div class="col-sm-4 pageInfo">

    </div>
    <div class="col-sm-4 logoContainer">
        <!-- Utiliza routerLink para navegar a la página principal -->
        <a routerLink="/" >
            <img src="../../../assets/star-wars-logo.png" alt="logo Star Wars" class="logoStarWars">
        </a>
    </div>
    <div class="col-sm-4 userOptions">
        <div class="userLoginOptions">
            <div class="LogIn userLogins" (click)="navigateToLogin()">log in</div>
            <div class="separator userLogins">//</div>
            <div class="signUp userLogins"(click)="navigateToSignUp()">sign up</div>
        </div>
    </div>
</div>