
<ul class="charactersContainer">
    <li *ngFor="let character of characters; let i = index" class="characterContainer">
        <div class="character" (click)="selectcharacter(i)" (click)="loadcharacterComponent(character)">

            <div class="characterContent">
                <div class="characterNameContainer">
                    <p class="characterName">{{ character.name }}</p>
                </div>
                <div class="characterModelContainer">
                    <p class="characterModel">{{ character.birth_year }}</p>
                </div>
            </div>
            <div class="characterInfo" *ngIf="selectedCharacterIndex === i">
                <div class="basicInfoContainer">
                    <div class="characterImageContainer">
                        <img class="characterPicture" src="{{ imageUrl }}" alt="{{ character.name }}" (error)="handleImageError()">
                    </div>
                    <div class="characterDataContainer">
                        <p class="characterDetails">Gender: {{ character.gender }}</p>
                        <p class="characterDetails">Homewolrd: {{ character.homeworld }}</p>
                        <p class="characterDetails">Height: {{ character.height }}</p>
                        <p class="characterDetails">Weight: {{ character.mass }}</p>
                    </div>
                </div>
                <div class="extraInfoContainer">
                    <div *ngIf="character.starships.length > 0">
                        <div class="extraInfoTitle">
                            <p class="characterDetails pilotTitle">Starships</p>
                        </div>
                        <div class="pilotsInfoContainer">
                            <div *ngFor="let starship of character.starships">
                                <div class="extraInfoInfo characterDetails">{{starship}}</div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="character.films.length > 0">
                        <div class="extraInfoTitle">
                            <p class="characterDetails filmsTitle">Films</p>
                        </div>
                        <div class="filmsInfoContainer">
                            <div *ngFor="let film of character.films">
                                <div class="extraInfoInfo characterDetails">{{film}}</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </li>
</ul>